container_commands:
  remove_older_config_apache:
    command: "rm -rf /etc/httpd/conf.d/elasticbeanstalk/php.conf"
  copy_config_apache:
    command: "cp .ebextensions/php.conf /etc/httpd/conf.d/elasticbeanstalk/php.conf"
  reload_service_apache:
    command: "systemctl restart httpd.service"
